/* Reset de margens e paddings */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    background: #4CAF50;
    color: #fff;
    padding: 10px 20px;
}

.logo-container {
    margin-right: 15px;
}

.logo {
    height: 50px;
}

h1 {
    font-size: 2rem;
}

main {
    padding: 20px;
}

.news {
    display: flex;
    flex-direction: column;
}

article {
    background: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #d4a373; /* Marrom claro */
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
